@model OnlineExamApp.Entities.User
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Default form</h4>
                        <p class="card-description">
                            Kullanıcı Ekleme
                        </p>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Adı</label>
                                <input type="text" name="Name" class="form-control" id="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Soyadı</label>
                                <input type="text" name="Surname" class="form-control" id="Surname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mail Adres</label>
                                <input type="email" name="Mail" class="form-control" id="Mail">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Şifre</label>
                                <input type="password" name="Password" class="form-control" id="Password">
                            </div>
                            @*<div class="form-group">
                                <label for="exampleInputPassword1">Sınav Linki</label>
                                <input type="text" name="Link" class="form-control" id="Link">
                            </div>*@
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sınav</label>
                                @Html.DropDownListFor(x => x.ExamId, new SelectList((System.Collections.IEnumerable)ViewData["items"], "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Kullanıcı Türü</label>
                                <select name="userType" id="userType">
                                    <option value="1">Aday</option>
                                    <option value="2">Yönetici</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary me-2" onclick="AddUser()">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
        </div>
    </footer>
    <!-- partial -->
</div>
<script src="~/js/pageJs/user.js"></script>
